body, html{
    background: hsl(35, 81%, 89%);
    overflow: hidden
}

#cWebGL{
    width: 100%;
    height: 100%;
    display: block;
}

#phys {
    background-color: rgb(218, 233, 241);
    width: 0px;
    position: absolute;
}

#info {
    background-color: rgb(218, 233, 241);
    width: 0px;
    position: absolute;
    transition: left .5s ease-out;
}

.text {
    color: navy;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 0px;
}

#info_text {
    padding-left: 30px;
}

#close {
    position: absolute;
    top: 5px;
}

#close:hover {
    cursor: w-resize;
}

#physflag:hover {
    cursor: pointer;
}

input[type=text], select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
  
input[type=submit] {
  width: 90%;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
